ul {
	clear: both;
}
ul li {
	list-style-type: none;
	padding: 0;
}
dt {
	float: left;
	clear: left;
	width: 50%;
	text-align: left;
	font-weight: bold;
}

/*dt:after {
	content: ":";
}
*/
dd {
	margin: 0;
	padding: 0;
}
#contact {
	margin: 0;
	position: relative;
	left: 0;
	top: 0;
	color: #666;
	width: 200px;
}
#contact dd {
	width: 300px;
}
#contact dt {
	width: 55px;
}
